*{
    
    margin:0;
    box-sizing: border-box;
}
body{
   
    /* background-image: url('https://i1.sndcdn.com/avatars-2Pc3JNQk65JnZWNN-arBo5Q-t500x500.jpg'); */
    background-image: url('https://cdn.pixabay.com/photo/2015/03/02/21/20/pattern-656585__340.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    
    max-height: max-content;
    background-attachment: fixed;
    background-position: center center;
    padding: 2%;
   
    
}
/* .background{
   
    width:100%;
    display:flex;

    justify-content: center;
    align-items: center;

}
@keyframes color{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position:30% 50%;
    }
    100%{
        background-position:0 50%;
    }
} */

.grid-container {
    display: grid;
    gap: 70px;
    grid-template-columns: auto auto auto;
    
    padding: 10%;
  }
  
  .grid-item {
    
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 5%;
    height: 200px;
    width: 300px;
  
  }
.image{
    border-radius: 5%;
}


@media screen and (max-width:750px) {
    .grid-container{
        grid-template-columns: auto auto;
        gap: 60px;
        padding: 20px 15px ;

    }
}
@media screen and (max-width:400px) {
    .grid-container{
        grid-template-columns: auto;
        gap: 60px;
        padding: 20px 15px ;

    }
}

